<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDntMRjY7cSGQ_gjSN9VoadBNF25KNT1sw</string>
	<key>GCM_SENDER_ID</key>
	<string>190882182392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qirori</string>
	<key>PROJECT_ID</key>
	<string>qirori-6a834</string>
	<key>STORAGE_BUCKET</key>
	<string>qirori-6a834.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190882182392:ios:9b3885c2cff2e95d1cf70d</string>
	<key>DATABASE_URL</key>
	<string>https://qirori-6a834-default-rtdb.firebaseio.com</string>
</dict>
</plist>